.mining-progress-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 10px;
  background-color: rgb(0 0 0 / 0.5);
  border: 1px solid #30cfd0;
  z-index: 1000;
}

.mining-progress-bar {
  width: 0%;
  height: 100%;
  background-color: #30cfd0;
}

.undocked-body {
  position: static;
  touch-action: auto;
  pointer-events: auto;
  overflow: auto;
  height: auto;
  width: auto;
}

.offscreen-indicator-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.offscreen-indicator-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  transform-origin: center center;
}
